{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenu dans ce blog</h1>


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer malesuada nunc vel risus commodo viverra.<p>
<p>Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Vitae elementum curabitur vitae nunc sed velit dignissim sodales. Egestas congue quisque egestas diam in arcu cursus euismod. Amet consectetur adipiscing elit pellentesque. Fusce id velit ut tortor pretium viverra suspendisse potenti. </p>

{% endblock %}
